body {
 height: 100vh;
 background-image: url("./tech.jpg");
 background-position: center;
 background-size: cover;
 display: flex;
 justify-content: center;
 align-items: center;
}

/* giving cotainer the glassy feeling */
.container {
 height: 550px;
 width: 850px;
 border: 1px solid rgba(255, 255, 255, 0.4);
 border-radius: 15px;
 backdrop-filter: blur(5px);
 background: radial-gradient(at 50% 0%, rgba(0,0,0,0), rgba(255,255,255,0.3));
 box-shadow: 10px 10px 30px rgba(0,0,0,0.5);
 transition: all 0.3s ease-in-out;
 padding: 20px 20px 10px 30px;
}

/* on hoveer the container come closer to the screen */
.container:hover{
 transform: scale(1.04);
 backdrop-filter: blur(10px);
 background: radial-gradient(at 50% 0%, rgba(0,0,0,0), rgba(255,255,255,0.3));
 box-shadow: 10px 10px 40px rgba(0,0,0,0.7);
}


/* styling the h1 and paragraphs */
.header {
 font-size: 45px;
 text-indent: 100px;
 font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.des {
 font-size: 18px;
}

/* styling form input */
.inputplace {
  border-radius: 5px;
  width: 60px;
  height: 20px;
  box-shadow: 2px 2px #868080;
}
.gendertext {
 font-size: 18px;
}
#get-name{
 border-radius: 20px;
 color: #000000;
 background-color: #dbd8c8;
 text-align: center;
 border: solid 1px #868080;
 width: 108px;
 height: 30px;
 font-size: 13px;
 box-shadow: 2px 2px #868080;
}
.clear {
 border-radius: 20px;
 color: #000000;
 background-color: #dbd8c8;
 text-align: center;
 border: solid 1px #868080;
 width: 90px;
 height: 30px;
 font-size: 13px;
 box-shadow: 2px 2px #868080;
}